.toc {
    list-style: none;
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgray;
    width: 150px;
    text-align: left;
    margin: 0% 0% 0% 0%;
    padding: 5px;

}
 .article-title {
     font-size: 32pt;
     text-align: center;
     font-weight: bold;
 }

.toc-num-1 {
    color: gray;
    font-size: 12pt;
}

.toc-num-2 {
    color: gray;
    font-size: 10pt;
}

.toc-num-3 {
    color: gray;
    font-size: 9pt;
}

.toc-lvl1 {
    font-weight: bolder;
    font-size: 12pt;
}

.toc-lvl2 {
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 20px;
}

.toc-lvl3 {
    font-weight: lighter;
    font-size: 9pt;
    margin-left: 40px;;
}

.about-content {
    // display: flex;
    // flex-wrap:inherit;
    width: 100%;
}

.content-body ul {
    list-style-type: '✦';
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.content-body ul a {
    padding-left: 40px;
    // width: 20vw;
}
.content-body ul li {
    flex: 0 0 250px;
}

aside { 
    float: left;
    margin-right: 2%;
}

.about-content * {
    // border: 2px solid pink;
}

.about-article {
    margin-left: 2%;
}

.about-header {
    font-size: 18pt;
    font-weight: bold;
    display: block;
    margin: 0% 0% 0% 0%;
}

.about-sub-header {
    font-size: 14pt;
    font-weight: bold;
    display: block;
    margin: 16px 0% 16px 0px;
}

.about-sub-sub-header {
    font-size: 12pt;
    font-weight: bold;
    display: block;
    margin: 16px 0% 16px 0px;
}

.content-body p {
    display: block;
}

.content-body hr {
    position: absolute;
}

.toc a {
    text-decoration: none;
}