.clockFrame {
    position: absolute;
    width: 165px;
    height: 165px;
    z-index: 0;
    left: -32px;
    top: -1px;
}

.clock .num {
    font-size: 8pt;
    --rotation: 0;
    position: absolute;
    width: 115px;
    height: 115px;
    margin-top: -6.5px;
    text-align: center;
    transform: rotate(var(--rotation));
    letter-spacing: -1pt;
}
.clock .number1 { --rotation: 30deg;}
.clock .number2 { --rotation: 60deg;}
.clock .number3 { --rotation: 90deg;}
.clock .number4 { --rotation: 120deg;}
.clock .number5 { --rotation: 150deg;}
.clock .number6 { --rotation: 180deg;}
.clock .number7 { --rotation: 210deg;}
.clock .number8 { --rotation: 240deg;}
.clock .number9 { --rotation: 270deg;}
.clock .number10 { --rotation: 300deg;}
.clock .number11 { --rotation: 330deg;}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    // align-items: center;
    justify-content: center;
}
@mixin clockHand {
    position: absolute;
    transform-origin: bottom;
    z-index: 2;

}
.hourHand {
    @include clockHand;
    height: 40px;
    width: 10px;
}

.minuteHand {
    @include clockHand;
    height: 45px;
    width: 10px;
    z-index: 0;
}

.secondHand {
    @include clockHand;
    height: 45px;
    width: 2px;
    background-color: rgb(162, 95, 154);
}

.clockCenter {
    position: relative;
    background-color: black;
    z-index: 3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}